/* Variables de colores */
:root {
    --naranja-pastel: #ffa07a;
    --amarillo-pastel: #fff0b3;
    --rojo-pastel: #ffcccb;
    --gris-texto: #333;
    --fondo: #ffe6cc;
    --sombra: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--fondo);
    color: var(--gris-texto);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Barra de navegación */
.navbar {
    background-color: var(--rojo-pastel);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 4px 2px -2px var(--sombra);
}

.nav-item {
    padding: 10px;
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: var(--naranja-pastel);
    color: white;
}

.logo {
    font-size: 1.8rem;
    color: var(--naranja-pastel);
}

/* Carrito */
.carrito-btn {
    background-color: var(--amarillo-pastel);
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.carrito-btn:hover {
    background-color: var(--naranja-pastel);
    color: white;
}

/* Sección de productos */
.productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.producto {
    background-color: var(--amarillo-pastel);
    border: 1px solid var(--rojo-pastel);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px var(--sombra);
    transition: transform 0.3s ease;
}

.producto:hover {
    transform: scale(1.05);
}

.producto h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.producto p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.add-to-cart {
    background-color: var(--naranja-pastel);
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: var(--rojo-pastel);
}

/* Carrito */
#carrito {
    margin: 20px;
    padding: 20px;
    background-color: var(--amarillo-pastel);
    border: 1px solid var(--rojo-pastel);
    border-radius: 10px;
    display: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--rojo-pastel);
    color: white;
}

.img-pdt {
    height: 20px;
    width: 20px;
}